<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Travel App</title>
</head>

<body>
  <!-- Header -->
  <header>
    <h1>Travel App</h1>
  </header>

  <main class="main">

    <!-- Search group -->
    <div class="search-group">

      <!-- Search bar -->
      <form class="search" onsubmit="return Client.handleSearchBar(event)">
        <div class="search-group">
          <input class="search-text-bar" type="text" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Destination</label>
        </div>
      </form>

      <!-- Search button -->
      <button class="button" onclick="return Client.handleSearchBar(event)"><span>Search</span></button>

      <!-- Loader -->
      <div class="loader"></div>

  </main>

  <!-- Footer -->
  <footer>
    <p>Travel App is a a trademark by Travel App LLC</p>
  </footer>

  <script>
    // Check that service workers are supported
    if ("serviceWorker" in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("/service-worker.js");
      });
    }
  </script>
</body>

</html>