@import "../variables.scss";

// Layout
.location-card {
  .close {
    float: right;
  }

  .card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  h1,
  h2,
  p,
  h3 {
    margin: 10px;
  }
  .button {
    display: inline-block;
    right: 0;
    margin: 8px;
  }
  .current-weather {
    display: flex;
    flex-direction: column;
  }
  .current-weather-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .forecast {
    .forecast-item {
      display: flex;
      flex-direction: row;
    }
    .forecast-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        margin: 6px;
      }
      img {
        width: 60px;
        height: 60px;
        right: 0px;
      }
    }
  }
}

// Themes
.location-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  p,
  h3,
  h2 {
    font-family: $font-secondary;
  }
  h1 {
    font-family: $font-primary;
    font-size: 50px;
  }
  .current-weather-info {
    div .current-weather-temperature {
      font-size: 50px;
      font-weight: 500;
    }
    div .current-weather-description {
      font-size: 20px;
    }
  }
}

.close {
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
