@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Work+Sans&display=swap");

// fonts and font sizes
$display-large: Work Sans;
$display-large-size: 64;

$display-medium: Work Sans;
$display-medium-size: 52;

$display-small: Work Sans;
$display-small-size: 44;

$headline-large: Permanent Marker;
$headline-large-size: 40;

$headline-medium: Permanent Marker;
$headline-medium-size: 36;

$headline-small: Permanent Marker;
$headline-small-size: 32;

$title-large: Work Sans;
$title-large-size: 20px;

$title-medium: Work Sans;
$title-medium-size: 24;

$title-small: Work Sans;
$title-small-size: 16px;

$label-large: Work Sans;
$label-large-size: 20;

$label-medium: Work Sans;
$label-medium-size: 16;

$label-small: Work Sans;
$label-small-size: 16;

$body-large: Work Sans;
$body-large-size: 24;

$body-medium: Work Sans;
$body-medium-size: 20;

$body-small: Work Sans;
$body-small-size: 16;
